@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	float: left;
	width: 30%;
}

footer {
	clear: both;
	position: fixed;
	bottom: 1em;
	left: 1em;
}

header {
	margin-left: 1%;
}

img {
	max-width: 75%;
}

main {
	float: left;
	width: 62%;
}

nav {
	float: left;
	width: 8%;
}

#copyright {
	font-size: 80%;
	margin-left: 1em;
}
#main-container {
	margin-left: 1em;
	width: 100%;
}